.row
  .span6
    %h1
      = @collection.name
    %h2
      = @collection.description
    %h3
      = curated_by(@collection.contributors).html_safe
  .span4.offset1
    = link_to('Delete', destroy_collection_path(@collection), class: 'btn btn-danger', method: :delete, confirm: 'Are you sure?')
    = link_to('Export', collection_path(@collection, format: 'txt'), class: 'btn btn-primary')

.row
  .span6.offset3
    - @collection.tweets.each do |tweet|
      .row
        %blockquote.twitter-tweet
          %a{href: tweet.url}
            = tweet.url

- if @collection.can_add?(current_user)
  .row
    .span4.offset4
      = render 'tweets/form', locals: {collection: @collection}

:javascript
  window.twttr = (function (d, s, id) {
    var t, js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src= "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);
    return window.twttr || (t = { _e: [], ready: function (f) { t._e.push(f) } });
  }(document, "script", "twitter-wjs"));
