.row
  .span6
    %h1
      = @user.name
  - if @user == current_user
    .span4.offset1
      = link_to('New Collection', new_collection_path, class: 'btn btn-success')

.row
  .span8
    %table.table
      %thead
        %tr
          %th
            Collection
          %th
            Tweets
          %th
            Last Updated
          %th
            Public?
          %th
            Access
      %tbody
        - @visible_collections.each do |collection|
          - privs = Privilege.where(user: @user).where(collection: collection).last.level
          %tr
            %td
              = link_to collection.name, collection
            %td
              = collection.tweets.size
            %td
              = "#{time_ago_in_words(collection.updated_at)} ago"
            %td
              = collection.public?.to_s
            %td
              = privs.capitalize
