.row
  .span6
    %h1
      = @user.name

.row
  .span8
    %table.table
      %thead
        %tr
          %th
            Collection
          %th
            Tweets
          %th
            Public?
          %th
            Access
      %tbody
        - @visible_collections.each do |collection|
          - privs = Privilege.where(user: @user).where(collection: collection).last.level
          %tr
            %td
              = link_to collection.name, collection
            %td
              = collection.tweets.size
            %td
              = collection.public?.to_s
            %td
              = privs.capitalize
